header {
  position: relative;
  .menu-mobilie {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
  }
  nav {
    ul {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        list-style: none;
        a {
          padding: 20px;
          margin-right: 1px;
          background-color: #fff;
          color: #333;
          text-transform: uppercase;
          font-size: 14px;
        }
      }
    }
  }
}

.flex-header {
  display: flex;
}
.nav-bar,
.logo {
  width: 100%;
}
.nav-bar {
  a {
    text-decoration: none;
    font-weight: 600;
    color: #767;
  }
}
.logo {
  a {
    padding: 0;
    margin: 0;
    color: #222;
    font-size: 20px;
    text-decoration: none;
  }
}
.space-between {
  justify-content: flex-end;
}
.flex {
  flex: 1;
}
@media screen and (max-width: 720px) {
  header {
    .flex-header {
      display: block;
      text-align: center
    }

    .nav-bar ul {
      display: none;
    }
  }
}
@media screen and (min-width: 720px) and (max-width: 1024px) {
  .menu-mobilie{
    display: block;
  }
  .flex-header {
    display: block;
    text-align: center
  }

  .nav-bar nav {
    display: none !important;
  }
}
@media screen and (max-width : 720px){
  .menu-mobilie{
    display: block;
  }

}

@media screen and (min-width: 1024px) {

  .menu-mobilie{
    display: none;
  }
}
.offsetmenu{
  display:none;
  background-color: #333;
  width: 200px;
  position: absolute;
  height: 100%;
  top:0;
  right: 0;
  text-align: right;
  max-height: 100%;
  bottom: 0;
  .bt-close{
      position: relative;
      text-align: left;

    span{
        display: inline-block;
        color: #fff;
        padding: 20px;
        text-align: left
    }
  }
  ul{
    padding: 0;
    margin: 0;
    li{
      list-style: none;
      margin-bottom: 10px;
      a{
        color: #fff;
        text-decoration: none;
        padding-right: 25px;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
       
      } a.active{
        background-color: #ccc;
        color: #333;
      }
    }
  }
}
.offsetmenu.on{
  display:block;
}