
<h2 class="text-center">Extrato de transação</h2>
<ul class="list-group" *ngIf="transitionList.length > 0">
    <li class="active">
        Operação - Descrição <span>Valor</span>
    </li>
    <li *ngFor="let transition of transitionList">
        {{transition.metodo}}    {{transition.descricao}}<span>{{transition.valor | currency:'BRL':'symbol'}}</span>
    </li>

    <li class="footer-total">
        Total: <span><small>({{statusTransaction}})</small> {{ totallist  |  currency : 'BRL' : 'symbol'}}</span>
    </li>
</ul>

<div *ngIf="transitionList.length <= 0">
  <p class="text-center">Nenhuma transação no momento!</p>
</div>
