
<h2 class="text-center">Nova Transação</h2>
<div class="form-transaction">
    <form novalidate [formGroup]="registerForm">
        <div class="grid">
            <div class="row">
                <div class="col lg-12 md-4 sm-12">
                    <div class="form-group-line">
                        <label>Tipo de Transação</label>
                        <select formControlName="iptTipoTransacao" required class="form-control">
                            <option value="" disabled>Selecione</option>
                            <option value="+">Venda</option>
                            <option value="-">Compra</option>
                        </select>
                    </div>
                </div>
                <div class="col lg-12 md-4 sm-12">
                    <div class="form-group-line">
                        <label>Nome da Mercadoria</label>
                        <input type="text" class="form-control" required formControlName="iptNameMercadoria" autocomplete="off" placeholder="Nome da Mercadoria">
                    </div>
                </div>
                <div class="col lg-12 md-4 sm-12">
                    <div class="form-group-line">
                        <label>Valor</label>
                        <input type="number" formControlName="iptValor" required autocomplete="off" class="form-control" placeholder="R$ 0,00" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group-line">
            <button (click)="addTransition()">Adicionar transação</button>
        </div>
        <div class="clearfix"></div>
    </form>
</div>